/***MAP***/
.empty {
    background: url("/resources/map/map_empty.png");
    background-repeat: repeat;
    height: 45px;
    width: 40px;
    position: absolute;
}

.full {
    background: url("/resources/map/map_full.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 40px;
    position: absolute;
}

.destructible {
    background: url("/resources/map/map_destructible.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 40px;
}

.bomb {
    background: url("/ress=ources/map/map_bomb.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 40px;
    position: absolute;
}

.explode {
    background: url("/ress=ources/map/map_bomb_explode.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 40px;
    position: absolute;
}
/*image profile*/
a:hover .transparent {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
a:hover .img {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

.img_click {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

/*image player*/
.player{
    background: url("/resources/image_players/img_16.png")
}
